<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
</head>

<body>
	<div>
		<div>
			<h2>Please log in:</h2>
		</div>
		
		<div th:if="${param.error}">
			<h3>Invalid username or password.</h3>
		</div>
		
		<div th:if="${param.logout}">
			<h3>You have been logged out.</h3>
		</div>
		
		<form th:action="@{/login}" method="post">
			<div>
				<label>Username:</label><input type="text" name="username" id="username">
			</div><br/>
			
			<div>
				<label>Password:</label><input type="password" name="password" id="password">
			</div><br/>
			
			<div>
				<input type="submit" value="Login"/>
			</div>
			
			<p>New user? <a th:href="@{/register}">Register here</a></p>
		</form>
		
		
	</div>
</body>

</html>